<div class="class-title">
<h1>Create a new listing here!</h1>
</div>
<form class="form-horizontal" role="form">
	<%= form_for @listing do |t| %>
	<div class="test">
		<label class="col-sm-2" for="email">Room Type:</label>
		<%= t.text_field :room_type %>
	</div>

	<div class="test">
		<label class="col-sm-2" for="email">Home Type:</label>
		<%= t.text_field :home_type %>
	</div>

	<div class="test">
		<label class="col-sm-2" for="email">Accomodates:</label>
		<%= t.text_field :accomodates %>
	</div>

	<div class="test">
		<label class="col-sm-2" for="email">City:</label>
		<%= t.text_field :city %>
	</div>

	<div class="test">
		<label class="col-sm-2" for="email">Bedroom:</label>
		<%= t.text_field :bedroom %>
	</div>

	<div class="test">
		<label class="col-sm-2" for="email">Bathroom:</label>
		<%= t.text_field :bathroom %>
	</div>

	<div class="test">
		<label class="col-sm-2" for="email">Bedcount:</label>
		<%= t.text_field :bedcount %>
	</div>

	<div class="test">
		<label class="col-sm-2" for="email">Listing Name:</label>
		<%= t.text_field :listing_name %>
	</div>

	<div class="test">
		<label class="col-sm-2" for="email">Summary:</label>
		<%= t.text_area :summary %>
	</div>
</form>
	<br>

	<div>
		<%= t.submit "Create Listing" %>
	</div>

<% end %>