<h1>Create an account here!</h1>

<%= form_for @user, html: {multipart: true} do |t| %>
	<div class="test">
		<label class="col-sm-2">Username:</label>
		<%= t.text_field :username %>
	</div>

		<div class="test">
		<label class="col-sm-2">Email:</label>
		<%= t.email_field :email %>
	</div>

		<div class="test">
		<label class="col-sm-2">Password:</label>
		<%= t.password_field :password %>
	</div>

		<div class="test">
		<label class="col-sm-2">Confirmation password:</label>
		<%= t.password_field :password_confirmation %>
	</div>

		<div class="test">
		<label class="col-sm-2">Birthday:</label>
		<%= t.text_field :birthday %>
	</div>

		<div class="test">
		<label class="col-sm-2">Contact:</label>
		<%= t.text_field :contact %>
	</div>

		<div class="test">
		<label class="col-sm-2">Address:</label>
		<%= t.text_field :address %>
	</div>

		<div class="test">
		<label class="col-sm-2">Gender:</label>
		<%= t.text_field :gender %>
	</div>

		<div class="test">
		<label class="col-sm-2">About you:</label>
		<%= t.text_area :about_you %>
	</div>

		<div class="test">
		<label class="col-sm-2">Profile Pic:</label>
		<%= t.file_field :avatar%>
	</div>


	<br>

	<div>
		<%= t.submit "Create Account" %>
	</div>

<% end %>