<!DOCTYPE html>
<html>
<head>
  <title>PairBnb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div>
		<span>
<%= link_to "Home", root_path %>
		</span>
    <% if user_logged_in? %>
    <span>
      <%= link_to "logout", logout_path, method: :delete %>
    </span>
    <span>
      <%= "Welcome #{current_user.username}" %>
    </span>
    <% else %>
		<span>
<%= link_to "Signup", new_user_path %>
		</span>
		<span>
<%= link_to "Login", login_path %>
		</span>
    <% end %>
	</div>	

	  <div>
    <table>
      <% flash.each do |k| %>
        <tr>
          <td><%= k %></td>
        </tr>
      <% end %>
    </table>
  </div>
<%= yield %>

</body>
</html>
